@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Tektur:wght@400;700;800&display=swap");

#team {
  margin-top: 5rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-members-div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-box {
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.team-title {
  font-size: 30px;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
  font-family: "Tektur", cursive;
  color: #629eff;
  padding-bottom: 35px;
  background: -webkit-linear-gradient(-180deg, #209cff 0%, #68e0cf 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.team-title::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 5px;
  border-radius: 5px;
  background: linear-gradient(-90deg, #209cff 0%, #68e0cf 100%);
}
.team-img {
  background-color: #018cff;
  width: 220px;
  height: 220px;
  border-radius: 120px;
  box-shadow: 0px 10px 20px #0b1936;
}

.team-img img {
  width: 220px;
  height: 220px;
  border-radius: 120px;
  padding: 6px;
  border: 3px solid #018cff;
  object-fit: cover;
}

.team-box h3 {
  color: #ffffff;
  letter-spacing: 1.5px;
  font-weight: 600;
  padding: 6px 0;
  font-family: "Roboto", sans-serif;

}
.team-box h5 {
  color: #cacfd3;
  font-family: "Roboto", sans-serif;

}
